@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


/* animation wave event componet up*/
.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 84.70813397129191,322.8421052631579 169.41626794258383,345.6842105263158 262,376 C 354.58373205741617,406.3157894736842 455.0430622009568,444.10526315789474 547,393 C 638.9569377990432,341.89473684210526 722.4114832535886,201.89473684210523 815,204 C 907.5885167464114,206.10526315789477 1009.311004784689,350.3157894736842 1115,390 C 1220.688995215311,429.6842105263158 1330.3444976076555,364.8421052631579 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 124.48803827751198,273.42583732057415 248.97607655502395,246.85167464114832 335,227 C 421.02392344497605,207.14832535885168 468.5837320574162,194.01913875598086 562,212 C 655.4162679425838,229.98086124401914 794.6889952153111,279.07177033492826 899,283 C 1003.3110047846889,286.92822966507174 1072.6602870813397,245.6937799043062 1157,241 C 1241.3397129186603,236.3062200956938 1340.6698564593303,268.1531100478469 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 97.40669856459331,323.09090909090907 194.81339712918663,346.18181818181813 286,344 C 377.1866028708134,341.81818181818187 462.1531100478469,314.3636363636364 549,291 C 635.8468899521531,267.6363636363636 724.5741626794259,248.36363636363632 832,254 C 939.4258373205741,259.6363636363637 1065.5502392344497,290.1818181818182 1170,302 C 1274.4497607655503,313.8181818181818 1357.2248803827752,306.9090909090909 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 74.75598086124404,354.22966507177034 149.51196172248808,408.4593301435407 235,399 C 320.4880382775119,389.5406698564593 416.7081339712918,316.39234449760767 523,297 C 629.2918660287082,277.60765550239233 745.6555023923446,311.9712918660287 855,344 C 964.3444976076554,376.0287081339713 1066.66985645933,405.7224880382775 1163,398 C 1259.33014354067,390.2775119617225 1349.665071770335,345.1387559808612 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 84.70813397129191,322.8421052631579 169.41626794258383,345.6842105263158 262,376 C 354.58373205741617,406.3157894736842 455.0430622009568,444.10526315789474 547,393 C 638.9569377990432,341.89473684210526 722.4114832535886,201.89473684210523 815,204 C 907.5885167464114,206.10526315789477 1009.311004784689,350.3157894736842 1115,390 C 1220.688995215311,429.6842105263158 1330.3444976076555,364.8421052631579 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
  }


  /* animation wave event componet down*/
  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 131.28571428571428,318.75 262.57142857142856,337.5 379,308 C 495.42857142857144,278.5 597,200.75 715,219 C 833,237.25 967.4285714285716,351.5 1091,381 C 1214.5714285714284,410.5 1327.2857142857142,355.25 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 146.46428571428572,252.03571428571428 292.92857142857144,204.07142857142858 419,192 C 545.0714285714286,179.92857142857142 650.7500000000001,203.75 745,234 C 839.2499999999999,264.25 922.0714285714287,300.92857142857144 1036,313 C 1149.9285714285713,325.07142857142856 1294.9642857142858,312.5357142857143 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 99.35714285714286,258.82142857142856 198.71428571428572,217.64285714285714 338,210 C 477.2857142857143,202.35714285714286 656.4999999999999,228.25 776,229 C 895.5000000000001,229.75 955.2857142857144,205.35714285714286 1056,213 C 1156.7142857142856,220.64285714285714 1298.3571428571427,260.32142857142856 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 103.07142857142858,249 206.14285714285717,198 333,211 C 459.85714285714283,224 610.4999999999999,301 731,348 C 851.5000000000001,395 941.8571428571429,412 1055,399 C 1168.142857142857,386 1304.0714285714284,343 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 131.28571428571428,318.75 262.57142857142856,337.5 379,308 C 495.42857142857144,278.5 597,200.75 715,219 C 833,237.25 967.4285714285716,351.5 1091,381 C 1214.5714285714284,410.5 1327.2857142857142,355.25 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
  }




  /* animation wave kajian article */
  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 110.72727272727272,271.1961722488038 221.45454545454544,242.39234449760764 323,226 C 424.54545454545456,209.60765550239236 516.9090909090909,205.62679425837322 608,201 C 699.0909090909091,196.37320574162678 788.9090909090909,191.10047846889952 878,195 C 967.0909090909091,198.89952153110048 1055.4545454545455,211.9712918660287 1149,231 C 1242.5454545454545,250.0287081339713 1341.2727272727273,275.0143540669857 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    25%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 72.43062200956936,355.07177033492826 144.86124401913872,410.14354066985646 243,408 C 341.1387559808613,405.85645933014354 464.9856459330143,346.49760765550246 564,313 C 663.0143540669857,279.50239234449754 737.1961722488038,271.8660287081339 820,275 C 902.8038277511962,278.1339712918661 994.2296650717703,292.0382775119618 1099,298 C 1203.7703349282297,303.9617224880382 1321.8851674641148,301.98086124401914 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    50%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 111.83732057416267,363.20574162679424 223.67464114832535,426.4114832535885 312,394 C 400.32535885167465,361.5885167464115 465.1387559808612,233.5598086124402 551,207 C 636.8612440191388,180.4401913875598 743.7703349282298,255.3492822966507 848,310 C 952.2296650717702,364.6507177033493 1053.77990430622,399.04306220095697 1152,394 C 1250.22009569378,388.95693779904303 1345.11004784689,344.47846889952154 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    75%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 113.36842105263159,353.18660287081343 226.73684210526318,406.3732057416268 316,371 C 405.2631578947368,335.6267942583732 470.42105263157896,211.69377990430624 551,210 C 631.578947368421,208.30622009569376 727.5789473684212,328.85167464114835 830,359 C 932.4210526315788,389.14832535885165 1041.2631578947369,328.8995215311005 1144,304 C 1246.7368421052631,279.1004784688995 1343.3684210526317,289.55023923444975 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
    100%{
      d: path("M 0,600 C 0,600 0,300 0,300 C 110.72727272727272,271.1961722488038 221.45454545454544,242.39234449760764 323,226 C 424.54545454545456,209.60765550239236 516.9090909090909,205.62679425837322 608,201 C 699.0909090909091,196.37320574162678 788.9090909090909,191.10047846889952 878,195 C 967.0909090909091,198.89952153110048 1055.4545454545455,211.9712918660287 1149,231 C 1242.5454545454545,250.0287081339713 1341.2727272727273,275.0143540669857 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
  }